<strong>Olá, {{ deliveryman }}</strong>,
<p>Houve um cancelamento de entrega, confira os detalhes abaixo: </p>
<p>
  <strong>Cliente: </strong> {{recipient}} <br/>
  <strong>Email: </strong> {{ recipient_email}} <br />
  <strong>Endereço: </strong> {{ address }} <br />
  <strong>Produto: </strong> {{ product }} <br />

  <small>
    Você deve ficar atento à novos agendamentos.
  </small>
</p>
